.anchor
.DS_Store
**/*.rs.bk
node_modules
test-ledger
.yarn
.env
.cursor
dist


# Anchor
/target/debug
/target/deploy
/target/release
/target/sbf-solana-solana
/target/test-ledger
/target/.rustc_info.json